@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-matrixGreen font-mono m-0 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
